@page "/"
@inherits IndexBase
@using ACA.Classes.Blazor.Charts;

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-header">ACA Class Grades</h3>
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <TelerikButton OnClick="@OnClickHandler">Generate Text Report</TelerikButton>
                        </div>
                        <div class="col">
                            <label>Upload Data Files</label>
                            <TelerikUpload SaveUrl="@SaveUrl"
                                           OnSuccess="@OnSuccessHandler"
                                           OnError="@OnErrorHandler"
                                           AllowedExtensions="@(new List<string>() {".csv", ".txt"})"
                                           MaxFileSize="2048000" MinFileSize="0" />
                            <TelerikWindow Modal="true" Visible="@ShowError" VisibleChanged="@ErrorWindowVisibleChanged">
                                <WindowTitle>
                                    <strong>Upload Failed</strong>
                                </WindowTitle>
                                <WindowContent>
                                    @ErrorMessage
                                </WindowContent>
                                <WindowActions>
                                    <WindowAction Name="Close" />
                                </WindowActions>
                            </TelerikWindow>
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <TelerikButton OnClick="@OnResetClickHandler">Reset Data Files</TelerikButton></div>
                            </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-lg text-success ">
                            <ClassGradesChart ChartData="@ClassScoreReports"></ClassGradesChart>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
